/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.animate-in {
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
} */
